<div class="well well-sm comment-box comment-<%= comment.id %>">
  <span class="user-name"><%= comment.user.username %> says:</span>
  <%= comment.body %>
  <div class="links">
    <%= link_to new_comment_path(parent_id: comment.id, forum_thread_id: @forum_thread.id),
      title: "Reply", remote: true do %>
      <%= fa_icon "reply" %>
    <% end %>
    <%= link_to edit_comment_path(comment), title: "Edit", remote: true do %>
      <%= fa_icon "pencil" %>
    <% end %>
    <%= link_to comment_path(comment), method: :delete,
    data: { confirm: "Are you sure?",
    message: "The comment's information will be lost and cannot be recovered.",
    }, remote: true, title: "Delete" do %>
      <%= fa_icon "trash" %>
    <% end %>
  </div>
  <span class="date"><%= comment.created_at.strftime "%b %e @  %l:%M %P" %></span>
</div>
