<% @event.attachments.each do |a| %>
    <div class="poll-container">
        <span class="name">
            <%= link_to a.name, attachment_path(a) %>
        </span>
        <span class="actions">
            <%= link_to attachment_path(a) do %>
            <%= fa_icon "download" %>
            <% end %>
            <% if can? :manage, a %>
                <%= link_to attachment_path(a), method: :delete,
                data: {confirm: "Are you sure?"
                }, remote: true, title: "Delete" do %>
                <%= fa_icon "trash" %> 
                <% end %>
            <% end %>
        </span>
    </div>
<% end %>