<div class="col-xs-2 dashboard-sidebar">
  <%= image_tag "icon_color.svg", alt: "QRme", class: "dashboard-logo" %>
  <div class="profile-container">
    <%= render 'shared/avatar' %>
    <%= link_to edit_user_registration_path, class: "profile", remote: true do %>
      <%= fa_icon "cog", class: "spin" %>
    <% end %>
    <span class="username"><%= current_user.username.upcase %></span>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li class="events-menu-item">
      <%= link_to dashboard_index_path do %>
        <%= fa_icon "calendar" %> Events
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= fa_icon "bar-chart" %> Stats
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= fa_icon "users" %> Users
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= fa_icon "sign-out" %> Log Out
      <% end %>
    </li>
  </ul>
</div>
