<div class="main-table-container">
  <table class="main-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Recurrent</th>
        <th>Location</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% event_instances.each do |ei| %>
        <tr>
          <td><%= link_to ei.event.name, event_path(ei) %></td>
          <td>
            <%= ei.event.recurrent == 0 ? "No" : "#{ei.event.recurrent} times" %>
          </td>
          <td><%= ei.location %></td>
          <td><%= ei.date.strftime "%b %e, %Y @ %l:%M %P" %></td>
          <td>
            <%= link_to edit_event_path(ei), remote: true, title: "Edit" do %>
              <%= fa_icon "pencil" %>
            <% end %>
            <%= link_to event_instance_path(ei), method: :delete,
            data: { confirm: "Are you sure?",
            message: "The event's information will be lost and cannot be recovered.",
            }, remote: true, title: "Delete" do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
