<div style="position: relative; left: -10px;",  class="header">
  <h1> Invite User to: </h1>
</div>

<div align= "center", class= "event_info">
    <h4> <%= @event.name %> </h4>
</div>

<%= form_tag invite_event_errors_event_path(id: @event.id), remote: true do %>
<div class="errors-container">
  <%= render 'shared/form_errors', object: @event %>
</div>

 <br>
 
  <div class="form-group">
        <table align="center">
    <thead>
      <tr>
        <th>  <%= label_tag :user_email %></th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
            <tr>
              <td style="width:70%"><%= email_field_tag :user_email, "", class: "form-control" %></td>
              <td>
                  <button id= "Invite_event_button", class="btn btn-primary", type= "submit"><%= fa_icon "user-plus" %> Submit </button>
            </td>
            </tr>
        </tbody>
        <% end %>
      </table>
  </div>
  
  
  <div class= "actions">
      <button id= "Button_done", class="btn btn-primary"> Done </button>
  </div>
