<div class="event-info">
  <h2><%= @event.name %></h2>
  <h5>Event Admin:</h5>
  <h5><i><%= @event.user.username %></i></h5>


 <%= link_to events_invite_app_path,
  class: "invite-user-button", title: "Invite friends to app", remote: true do %>
  <%= fa_icon "bullhorn" %>
  <% end %>

  <h5>Number of Invitees <%= @event.invitations.count %></h5>
</div>

<div class="container event-container">
  <div class="row">
     <div class="col-sm-12">
        <div class="panel panel-default events_instances-card">
          <div class="panel-heading">
            <h3 class="panel-title">
              Event Instances
              <%= link_to new_event_instance_path(id: @event.id), class: "new-instance-button",
              remote: true do %>
                <%= fa_icon "plus" %>
              <% end %>
            </h3>
          </div>
          
          <div class="panel-body">
            <%= render 'shared/events_instances_list' %>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container event-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default forums-card event-card">
        <div class="panel-heading">
          <h3 class="panel-title">
            Forums
            <%= link_to new_forum_thread_path(event_id: @event.id), class: "new-instance-button",
            remote: true do %>
              <%= fa_icon "plus" %>
            <% end %>
          </h3>
        </div>
              
        <div class="panel-body">
          <%= render 'shared/forum_threads_list' %>
        </div>
      </div>
    </div>
            
    <div class="col-sm-4">
      <div class="panel panel-default attachments-card event-card">
        <div class="panel-heading">
          <h3 class="panel-title">Attachments
            <%= link_to new_attachment_path(event_id: @event.id), class: "new-instance-button",
            remote: true do %>
              <%= fa_icon "plus" %>
            <% end %>
          </h3>
        </div>
              
        <div class="panel-body">
          <%= render 'shared/attachments_list' %>
        </div>
      </div>
    </div>
            
    <div class="col-sm-4">
      <div class="panel panel-default polls-card even-card">
        <div class="panel-heading">
          <h3 class="panel-title">
            Polls
            <%= link_to new_poll_path(event_id: @event.id), class: "new-instance-button",
            remote: true do %>
              <%= fa_icon "plus" %>
            <% end %>
          </h3>
        </div>
              
        <div class="panel-body">
          <%= render 'shared/polls_list' %>
        </div>
      </div>
    </div>
  </div>
          
  <div class="row">      
    <div class="col-sm-12">
      <div class="panel panel-default polls-card">
        <div class="panel-heading">
          <h3 class="panel-title">Other Options </h3>
        </div>
        
        <div class="panel-body">
            <div>
              <%= link_to invite_event_event_path(id: @event.id), remote: true do %>
              Invite User
              <% end %>
            </div>
            <div>
              <%= link_to events_uninvite_event_path(id: @event.id), remote: true do %>
              Uninvite User
              <% end %>
            </div>
            <a href="#">Print QR Code</a><br/>
            <a href="#" onclick="confirm('Are you sure you want to delete this event')">Delete event</a>
          <div>
            <%= link_to events_uninvite_event_path(id: @event.id), remote: true do %>
              Uninvite users
            <% end %>
          </div>
          <a href="#">Print QR Code</a>
          <a href="#" onclick="confirm('Are you sure you want to delete this event')">Delete event</a>
        </div>
      </div>
    </div>
  </div>
</div>
