<div class="event-info">
  <h2><%= @event.name %></h2>
  <h5>Event Admin:</h5>
  <h5><i><%= @event.user.username %></i></h5>
</div>

<div class="container event-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default forums-card">
        <div class="panel-heading">
          <h3 class="panel-title">Forums</h3>
        </div>
        <div class="panel-body">
          Forums
        </div>
        <div>
          <%= link_to new_forum_thread_path,
  class: "btn btn-success active btn-lg", remote: true do %>
   <%= fa_icon "plus" %> New Forum
    <% end %>
          <table>
             <% @event.forum_threads.each do |ft| %>
        <tr>
          <td><%= link_to ft.title, forum_thread_path(ft) %></td>
          
        </tr>
      <% end %>
          </table>
         
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default attachments-card">
        <div class="panel-heading">
          <h3 class="panel-title">Attachments</h3>
        </div>
        <div class="panel-body">
          Attachments
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default polls-card">
        <div class="panel-heading">
          <h3 class="panel-title">
            Polls
            <%= link_to new_poll_path(event_id: @event.id), class: "new-instance-button",
            remote: true do %>
              <%= fa_icon "plus" %>
            <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <% @event.polls.each do |p| %>
            <span><%= p.name %></span>
            <span><%= link_to "Edit", edit_poll_path(p) %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
