<div class="header">
  <h2>Mark Event Attendance</h2>
</div>

<div class="main-table-container">
  <table class="main-table">
    <thead>
      <tr>
        <th>UseName</th>
        <th>Attended?</th>
        
      </tr>
    </thead>
    <tbody>
      <% @event_instance.event.invitations.each do |ei| %>
        <tr>
          <td><%= ei.user.username %></td>
          <td>
           
            <input type="checkbox" class="attcheck" id="<%=ei.user_id%>" name="<%=ei.user_id%>" onclick="updateAttendance(<%=@event_instance.id%>,<%=ei.user_id%>)"  <%= if @event_instance.attendances.where(user_id: ei.user_id).count>0 then  "checked" else "" end%> />
            
          </td>
        
            <% end %>
          
        </tr>
      
    </tbody>
  </table>
 
</div>

  
  <div class="actions"  >
  <a class="btn-lg btn-primary" href="/attendances/doneattendance?id=<%=@event_instance.event.id%>" data-remote="true" >Done</a>
</div>

 

<script type="text/javascript">

  function updateAttendance(ei,userid)
  {
    var checked = "false";
    debugger
    if ($("#"+userid).is(':checked'))
      checked = "true";
    $.ajax(
      {
        url:"/attendances/attended",
        type:"POST",
        data:{event_instance:ei,
              userid: userid,
              checked: checked
            },
       
        error(xhr, ajaxOptions, thrownError)
        {
          alert(thrownError);
        }
        }
        
      
      );
  }
</script>
